In [39]:
import matplotlib.pylab as plt

import pandas as pd
from sklearn.datasets import load_digits
digits = load_digits()

y = digits.target

In [40]:
df = pd.DataFrame(data = digits.data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [41]:
from sklearn.model_selection import KFold

kf = KFold(n_splits= 6, shuffle= True)

In [48]:
df.loc[1:6]

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0
5,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,9.0,16.0,16.0,10.0,0.0,0.0
6,0.0,0.0,0.0,12.0,13.0,0.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,0.0,1.0,9.0,15.0,11.0,3.0,0.0

In [66]:
# for xtrain,xtest in kf.split():
from sklearn.svm import SVC

from sklearn.preprocessing import StandardScaler
score = []
for train_index, test_index in kf.split(df):
    # print("TRAIN:", train_index.size, "\nTEST:", test_index.size)
    X_train, X_test = df.loc[train_index], df.loc[test_index]
    Y_train, Y_test = y[train_index], y[test_index]

    # ss_x = StandardScaler()

    # X_train = ss_x.fit_transform(X_train)
    # X_test = ss_x.fit_transform(X_test)

    svm = SVC()

    dlf = svm.fit(X_train,Y_train)

    score.append(dlf.score(X_test,Y_test))

print(score)

[0.98, 0.9866666666666667, 0.99, 0.9866220735785953, 0.9866220735785953, 0.9899665551839465]

0.9899665551839465